@model AcompanhamentoDocente.Models.TbComponenteCurricular

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Detalhes do Componente</h1></div>

<div>
    
    <dl class="row">

        <dd class="col-sm-10">
            <label class="negrito">Componente Curricular: </label>@Html.DisplayFor(model => model.ComponenteCurricular)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Modalidade: </label>@Html.DisplayFor(model => model.CodigoModalidadeNavigation.Modalidade)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Sub-Área: </label> @Html.DisplayFor(model => model.SubArea)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Ativo: </label>
            @if (Model.Ativa != 1)
            {<b>Não</b>}
            else
            { <b>Sim</b>}
        </dd>
    </dl>
</div>
<div>
    <div class="center">
        <p id="l_botao">
            <a href='@Url.Action("Edit", "CCurricular", new { id = ViewBag.Admin.Codigo, comp = Model.Codigo })' class="waves-effect waves-light btn-small" id="btmodificarpequeno">
                <span class="material-icons">
                    mode_edit
                </span>
                Modificar
            </a>

            <a href='@Url.Action("Index", "CCurricular", new { id = ViewBag.Admin.Codigo })' class="waves-effect waves-light btn-small" id="btlistapequeno1">
                <span class="material-icons">

                    view_list

                </span>
                Componentes
            </a>
        </p>
    </div>
    
</div>
