@model IEnumerable<AcompanhamentoDocente.ViewModel.AvaliacaoViewModel>

@{
    ViewData["Title"] = "AvFinalizadas";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<div class="center"><h1>Avaliações Finalizadas</h1></div>


<p>
    @Html.ActionLink("Nova", "Avaliar", new { id = ViewBag.Admin.Codigo, esc = ViewBag.escola.Codigo })
</p>
<table class="highlight">
    <thead>
    </thead>

    <tbody>
        @foreach (var item in Model)
        {
            <tr class="linha_tabela">

                <td>
                    <p><label class="negrito">Nome: </label>@Html.DisplayFor(modelItem => item.NomeColaborador)</p>
                    <p><label class="negrito">Componente: </label>@Html.DisplayFor(modelItem => item.ccurric)</p>
                    <p><label class="negrito">Turma: </label>@Html.DisplayFor(modelItem => item.ano)</p>
                </td>
                <td></td>
                <td>
                    <p>
                        <a href='@Url.Action("Details", "AvaliacaoView", new { id = ViewBag.admin.Codigo, esc = @ViewBag.escola.Codigo, atrib = item.CodigoACECCA, aval = item.Codigo  })' class="waves-effect waves-light btn" id="btdetalhes">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
        }
    </tbody>
</table>
