@model IEnumerable<AcompanhamentoDocente.Models.TbCargo>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    @Html.ActionLink("Create", "Create", new { id = ViewBag.Admin.Codigo })
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NiveldeAcesso)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Cargo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NiveldeAcesso)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = ViewBag.Admin.Codigo, cdcargo = item.Codigo }) |
                @Html.ActionLink("Details", "Details", new { id = ViewBag.Admin.Codigo, cargo = item.Codigo }) |
                @Html.ActionLink("Delete", "Delete", new { id = ViewBag.Admin.Codigo, cargo = item.Codigo })
            </td>
        </tr>
}
    </tbody>
</table>
