@model AcompanhamentoDocente.ViewModel.EscolaViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center">
    <h1>Detalhes da Escola</h1>

    <h3>Deseja Remover esta Escola?</h3>
</div>


<div>
    <dl class="row">



        <dd class="col-sm-10">
            <label class="negrito">Escola: </label> @Html.DisplayFor(model => model.Escola)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">INEP: </label>@Html.DisplayFor(model => model.INEP)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Rua: </label>@Html.DisplayFor(model => model.Rua)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Bairro: </label> @Html.DisplayFor(model => model.Bairro)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Cidade: </label>@Html.DisplayFor(model => model.nomeCidade)
        </dd>

        <dd class="col-sm-10">
            <label class="negrito">Estado: </label>@Html.DisplayFor(model => model.sigla)
        </dd>
    </dl>
</div>
<div>
    <form asp-action="Delete">
        <input type="hidden" asp-for="@Model.Codigo" id="id" />
        <input type="hidden" asp-for="@Model.CodigoColaborador" id="col" />
        <div class="center">
            <p id="l_botao">
                <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                    <i class="material-icons left">delete</i>
                    Remover
                </button>

                <a href='@Url.Action("Index", "EscolaView", new { id = ViewBag.admin.Codigo})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                    <span class="material-icons">

                        view_list

                    </span>
                    Lista Colaboradores
                </a>
            </p>
        </div>
        

    </form>
</div>
