@model AcompanhamentoDocente.ViewModel.EscolaViewModel

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Detalhes da Escola</h1></div>

<div>
    <dl class="row">
        

        
        <dd class="col-sm-10">
            <label class="negrito">Escola: </label> @Html.DisplayFor(model => model.Escola)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">INEP: </label>@Html.DisplayFor(model => model.INEP)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Rua: </label>@Html.DisplayFor(model => model.Rua)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Bairro: </label> @Html.DisplayFor(model => model.Bairro)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Cidade: </label>@Html.DisplayFor(model => model.nomeCidade)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Estado: </label>@Html.DisplayFor(model => model.sigla)
        </dd>
    </dl>
</div>
<div>
    <div class="center">
        <p id="l_botao">
            <a href='@Url.Action("Edit", "EscolaView", new { id = Model.Codigo, col = Model.colaborador.Codigo })' class="waves-effect waves-light btn-small" id="btmodificarpequeno">
                <span class="material-icons">
                    mode_edit
                </span>
                Modificar
            </a>

            <a href='@Url.Action("Index", "EscolaView", new { id = Model.colaborador.Codigo})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                <span class="material-icons">

                    view_list

                </span>
                Lista Colaboradores
            </a>
        </p>
    </div>
    
</div>
