@model IEnumerable<AcompanhamentoDocente.Models.TbComponenteCurricular>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Selecione o Componente para Visualizar os Critérios</h1></div>


<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">more_horiz</i>
    </a>
    <ul>
        <li>
            <a href='@Url.Action("Create", "CriterioView", new { id = ViewBag.admin.Codigo})' id="adcionar" class="btn-floating btn-large waves-effect waves-light">
                <i class="large material-icons">
                    add
                </i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("Index", "CriterioView", new { id = ViewBag.admin.Codigo})' class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">
                    checklist
                </i>
                Voltar
            </a>
        </li>

        <li>
            <a href='@Url.Action("Home", "DashBoard", new { id = ViewBag.admin.Codigo})' class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">
                    dashboard
                </i>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "Modalidade", new { id = ViewBag.admin.Codigo})' class="btn-floating btn-large waves-effect waves-light">
                <span class="material-icons">
                    cast_for_education
                </span>
            </a>
        </li>
    </ul>
</div>

<table class="highlight">
    <thead>
        
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr class="linha_tabela">
            <td>
                <p><label class="negrito">Componente: </label>  @Html.DisplayFor(modelItem => item.ComponenteCurricular)</p>
                <p><label class="negrito">Modalidade: </label> @Html.DisplayFor(modelItem => item.CodigoModalidadeNavigation.Modalidade)</p>
                <p><label class="negrito">Sub-Área: </label> @Html.DisplayFor(modelItem => item.SubArea)</p>
            </td>
            <td>
                <h>
                    Inativa
                    @Html.TextBoxFor(modelItem => item.Ativa, new { @class = "range-field", type = "range", min = "0", max = "1", disabled = "True" })

                    Ativa
                </h>
                
            </td>
            <td>
                <a href='@Url.Action("ListaCriterio", "CriterioView", new { id = ViewBag.Admin.Codigo, ccur = item.Codigo })'class="waves-effect waves-light btn" id="btdetalhes">
                    <span class="material-icons">
                          info
                    </span>
                </a>

            </td>
        </tr>
}
    </tbody>
</table>
