@model IEnumerable<AcompanhamentoDocente.ViewModel.GraficoViewModel>
@{
}

<div class="center"><h1>Análise por Componente Curricular</h1></div>


<div class="center">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large material-icons">more_horiz</i>
        </a>
        <ul>
            <li>
                <a href='@Url.Action("Index", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' id="adcionar" class="btn-floating btn-large waves-effect waves-light">
                    <i class="large material-icons">
                        person
                    </i>
                </a>
            </li>

            <li>
                <a href='@Url.Action("ListaColab", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo, email = "null" })' class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">
                        person_search
                    </i>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Index", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' class="btn-floating btn-large waves-effect waves-light">
                    <span class="material-icons">
                        supervised_user_circle
                    </span>
                </a>
            </li>
        </ul>
    </div>

    <table class="highlight">
        <thead>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="linha_tabela">
                    <td>
                        <p><label class="negrito">Componente: </label>  @Html.DisplayFor(modelItem => item.Componente)</p>

                        <p><label class="negrito">Modalidade: </label> @Html.DisplayFor(modelItem => item.Modalidade)</p>

                        <p><label class="negrito">Classificação Critério: </label> @Html.DisplayFor(modelItem => item.ClassificacaoCriterio)</p>

                        <p><label class="negrito">Pontuacao (Atende / Total): </label>    @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima) </p>
                    </td>
                    <td>
                        <div class="graph">
                            <svg>
                                <circle cx="50" cy="50" r="40" />
                            </svg>
                            <svg class="cor" stroke-dashoffset=@item.Aprov>
                                <circle cx="50" cy="50" r="40" />
                            </svg>
                            @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima)
                        </div>
                    </td>

                    <td>
                        <a href='@Url.Action("DetalhesSubArea", "Home", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo, sub = item.SubArea })' class="waves-effect waves-light btn" id="btdetalhes">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>
