@model IEnumerable<AcompanhamentoDocente.ViewModel.GraficoViewModel>
@{
}

<div class="center"><h1>Análise por Componente Curricular e Modalidade de Ensino</h1></div>



<div class="center">
    <div class="fixed-action-btn">
        <a class="btn-floating btn-large">
            <i class="large material-icons">more_horiz</i>
        </a>
        <ul>
            <li>
                <a href='@Url.Action("Index", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' id="adcionar" class="btn-floating btn-large waves-effect waves-light">
                    <i class="large material-icons">
                        person
                    </i>
                </a>
            </li>

            <li>
                <a href='@Url.Action("ListaColab", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo, email = "null" })' class="btn-floating btn-large waves-effect waves-light">
                    <i class="material-icons">
                        person_search
                    </i>
                </a>
            </li>
            <li>
                <a href='@Url.Action("Index", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' class="btn-floating btn-large waves-effect waves-light">
                    <span class="material-icons">
                        supervised_user_circle
                    </span>
                </a>
            </li>
        </ul>
    </div>
    <form>
        <div class="input-field col s12">
            <p style="text-align:left"><label class="negrito">Ano:</label></p>
            <select id="ano" name="ano" class="browser-default">
                <option value="2021">2021</option>
                <option value="2022">2022</option>
                <option value="2023">2023</option>
                <option value="@ViewBag.ano" selected="@ViewBag.ano">@ViewBag.ano</option>
            </select>

        </div>
        <div class="form-control">
            <input type="hidden" id="esc" name="esc" value="@ViewBag.escola.Codigo" />
            <input type="hidden" id="sub" name="sub" value="@ViewBag.subarea" />
        </div>

        <div class="center">
            <p id="l_botao">
                <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                    Enviar
                    <i class="material-icons left">send</i>
                </button>

            </p>
        </div>

    </form>
    <table class="highlight">
        <thead>

        </thead>
        <tbody>
            @foreach (var item in Model)
            {

                <tr class="linha_tabela">
                    <td>
                        <p><label class="negrito">Componente: </label>  @Html.DisplayFor(modelItem => item.Componente)</p>

                        <p><label class="negrito">Modalidade: </label> @Html.DisplayFor(modelItem => item.Modalidade)</p>

                        <p><label class="negrito">Pontuacao (Atende / Total): </label>    @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima) </p>
                    </td>
                    <td>
                        <div class="graph">
                            <svg>
                                <circle cx="50" cy="50" r="40" />
                            </svg>
                            <svg class="cor" stroke-dashoffset=@item.Aprov>
                                <circle cx="50" cy="50" r="40" />
                            </svg>
                            @Html.DisplayFor(modelItem => item.Pontuacao) / @Html.DisplayFor(modelItem => item.PontuacaoMaxima)
                        </div>
                    </td>

                    <td>
                        <a href='@Url.Action("DetalhesDisciplina", "Home", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo, ccc = item.CodigoComponente })' class="waves-effect waves-light btn" id="btdetalhes">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                    </td>

                </tr>
            }
        </tbody>

    </table>

</div>
