@model AcompanhamentoDocente.Models.TbAno

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Detalhes da Turma</h1></div>

<div>
    
    <dl class="row">
        
        <dd class="col-sm-10">
            <label class="negrito">Ano: </label>@Html.DisplayFor(model => model.Ano)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Turma: </label>@Html.DisplayFor(model => model.Turma)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Modalidade: </label>@Html.DisplayFor(model => model.CodigoModalidadeNavigation.Modalidade)
        </dd>
        
        <dd class="col-sm-10">
            <label class="negrito">Período: </label>@Html.DisplayFor(model => model.Periodo)
        </dd>
        <input type="hidden" name="id" value="@ViewBag.admin.Codigo" />
    </dl>
</div>
<div>
    <div class="center">
        <p id="l_botao">
            <a href='@Url.Action("Edit", "Ano", new { id = ViewBag.Admin.Codigo, codigo = Model.Codigo })' class="waves-effect waves-light btn-small" id="btmodificarpequeno">
                <span class="material-icons">
                    mode_edit
                </span>
                Modificar
            </a>

            <a href='@Url.Action("Index", "Ano", new { id = ViewBag.Admin.Codigo })' class="waves-effect waves-light btn-small" id="btlistapequeno1">
                <span class="material-icons">

                    view_list

                </span>
                Lista
            </a>
        </p>
    </div>
    
</div>
