@model IEnumerable<AcompanhamentoDocente.Models.TbEstado>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Lista de Estados</h1></div>

<div class="fixed-action-btn">
    <a href='@Url.Action("Create", "Estado", new { id = ViewBag.admin.Codigo})' id="adcionar" class="btn-floating btn-large waves-effect waves-light">
        <i class="large material-icons">
            add
        </i>
    </a>
</div>

<table class="highlight">
    <thead>

    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="linha_tabela">
                <td>
                    <p><label class="negrito">Estado: </label>  @Html.DisplayFor(modelItem => item.Estado)</p>

                    <p><label class="negrito">Cidade: </label>  @Html.DisplayFor(modelItem => item.Sigla)</p>
                </td>

                <td>
                    <p>
                        <a href='@Url.Action("Edit", "Estado", new { id = ViewBag.Admin.Codigo, estado = item.Codigo})' class="waves-effect waves-light btn" id="bteditar">
                            <span class="material-icons">
                                mode_edit
                            </span>
                        </a>
                    </p>
                    <p>
                        <a href='@Url.Action("Details", "Estado", new { id = ViewBag.Admin.Codigo, estado = item.Codigo})' class="waves-effect waves-light btn" id="btdetalhes">
                            <span class="material-icons">
                                info
                            </span>
                        </a>
                    </p>
                    <p>
                        <a href='@Url.Action("Delete", "Estado", new { id = ViewBag.Admin.Codigo, Estado = item.Codigo })' class="waves-effect waves-light btn" id="btremover">
                            <span class="material-icons">
                                delete
                            </span>
                        </a>
                    </p>
                    
                </td>
            </tr>
        }
    </tbody>
    </table>
