@model AcompanhamentoDocente.ViewModel.ColaboradorViewModel

@{
    ViewData["Title"] = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Remover Colaborador</h1>

<h3>Tem certeza que deseja remover o Colaborador? Todas as Atribuições serão afetadas.</h3>


<div>

    

    <div>
        
        <dl>

            <dd class="col-sm-10">
                <label class="negrito">Nome: </label> @Html.DisplayFor(model => model.Nome)
            </dd>

            <dd class="col-sm-10">
                <label class="negrito">E-mail: </label>@Html.DisplayFor(model => model.Email)
            </dd>

            <dd class="col-sm-10">
                <label class="negrito">Cargo: </label>    @Html.DisplayFor(model => model.Cargo)
            </dd>

            <dd class="col-sm-10">
                <label class="negrito">Ativo:</label>
                @if (Model.Ativo != 1)
                {<b>Não</b>}
                else
                { <b>Sim</b>}

            </dd>
        </dl>
    </div>
    <div>
        <form asp-action="Delete">
            <input type="hidden" asp-for="@Model.Codigo" id="id" />
            <input type="hidden" asp-for="@Model.CodigoEscola" id="esc" />
            <input type="hidden" asp-for="@Model.CodigoAdministrador" id="ad" />

            <div class="form-group">

                <div class="center">
                    <p id="l_botao">
                        <button id="btsalvarpequeno" class="btn-small waves-effect waves-light" type="submit" name="action">
                            <i class="material-icons left">person_remove</i>
                            Remover
                        </button>

                        <a href='@Url.Action("Index", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = Model.CodigoEscola})' class="waves-effect waves-light btn-small" id="btlistapequeno">
                            <span class="material-icons">

                                view_list

                            </span>
                            Lista Colaboradores
                        </a>
                    </p>
                </div>
            </div>

        </form>
    </div>
</div>