@model IEnumerable<AcompanhamentoDocente.ViewModel.ColaboradorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <form method="post" action="ListaColab">
        <input name="id" value="@ViewBag.id" />
        <input name="esc" value="@ViewBag.esc" />
        <input name="email" />
        <div class="form-group">
            <input type="submit" value="Procurar" class="btn btn-primary" />
        </div>
    </form>


</p>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cargo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ativo)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cargo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ativo)
                </td>
                <td>
                    @Html.ActionLink("EstendeAtribuicao", "EstendeAtribuicao", new { id = item.CodigoAdministrador, esc = item.CodigoEscola, col = item.Codigo })
                </td>
            </tr>
        }

        

    </tbody>
</table>
