@model IEnumerable<AcompanhamentoDocente.ViewModel.ColaboradorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Procure um Professor já cadastrado e estenda a jornada para sua escola</h1>

<div class="fixed-action-btn">
    <a class="btn-floating btn-large">
        <i class="large material-icons">more_horiz</i>
    </a>
    <ul>
        <li>
            <a href='@Url.Action("GerenciarEscola", "Home", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo})' class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">
                    donut_large
                </i>
                Voltar
            </a>
        </li>

        <li>
            <a href='@Url.Action("Create", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' id="adcionar" class="btn-floating btn-large waves-effect waves-light">
                <i class="large material-icons">
                    add
                </i>
            </a>
        </li>

        <li>
            <a href='@Url.Action("Index", "ColaboradorView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo, email = "null" })' class="btn-floating btn-large waves-effect waves-light">
                <i class="material-icons">
                    person
                </i>
            </a>
        </li>
        <li>
            <a href='@Url.Action("Index", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo })' class="btn-floating btn-large waves-effect waves-light">
                <span class="material-icons">
                    supervised_user_circle
                </span>
            </a>
        </li>
    </ul>
</div>

<p>
    <form method="post" action="ListaColab">
        <input type ="hidden" name="id" value="@ViewBag.admin.Codigo" />
        <input type ="hidden" name="esc" value="@ViewBag.escola.Codigo" />
        <input name="email" placeholder="Digite aqui o E-mail do Colaborador"/>
        <div class="form-group">
            <div class="center"><input type="submit" value="Procurar" id="btprocurar" class="waves-effect waves-light btn" /></div>
        </div>
    </form>


</p>


<table class="highlight">
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p><label class="negrito">Nome: </label> @Html.DisplayFor(modelItem => item.Nome)</p>
                    <p><label class="negrito">E-mail: </label>@Html.DisplayFor(modelItem => item.Email)</p>
                    <p><label class="negrito">Cargo: </label> @Html.DisplayFor(modelItem => item.Cargo)</p>

                </td>
                
                <td>
                    <a href='@Url.Action("EstendeAtribuicao", "ColaboradorView", new { id = item.CodigoAdministrador, esc = ViewBag.escola.Codigo, col = item.Codigo })' class="waves-effect waves-light btn">
                        <span class="material-icons">
                            add
                        </span>
                    </a>
                </td>
            </tr>
        }

        

    </tbody>
</table>
