@model IEnumerable<AcompanhamentoDocente.ViewModel.ColaboradorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Procure um Professor já cadastrado e estenda a jornada para sua escola</h1>

<p>
    <form method="post" action="ListaColab">
        <input type ="hidden" name="id" value="@ViewBag.admin.Codigo" />
        <input type ="hidden" name="esc" value="@ViewBag.esc" />
        <input name="email" placeholder="Digite aqui o E-mail do Colaborador"/>
        <div class="form-group">
            <div class="center"><input type="submit" value="Procurar" class="btn btn-primary" /></div>
        </div>
    </form>


</p>


<table class="highlight">
    
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <p><label class="negrito">Nome: </label> @Html.DisplayFor(modelItem => item.Nome)</p>
                    <p><label class="negrito">E-mail: </label>@Html.DisplayFor(modelItem => item.Email)</p>
                    <p><label class="negrito">Cargo: </label> @Html.DisplayFor(modelItem => item.Cargo)</p>

                </td>
                
                <td>
                    <a href='@Url.Action("EstendeAtribuicao", "ColaboradorView", new { id = item.CodigoAdministrador, esc = item.CodigoEscola, col = item.Codigo })' class="waves-effect waves-light btn">
                        <span class="material-icons">
                            add
                        </span>
                    </a>
                </td>
            </tr>
        }

        

    </tbody>
</table>
