@model AcompanhamentoDocente.ViewModel.AtribCCColEscViewModel

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="center"><h1>Nova Atribuiçao de Disciplina por Professor</h1></div>



<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Codigo" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Cargo" class="control-label"></label>
                <input asp-for="Cargo" class="form-control" />
                <span asp-validation-for="Cargo" class="text-danger"></span>
            </div>
            
                <div class="form-group">
                    <label asp-for="CodigoModalidade" class="control-label"></label>
                     @Html.DropDownListFor(model => model.CodigoModalidade, (IEnumerable<SelectListItem>)ViewBag.CodigoModalidade, "--Selecione", new { @id = "CodigoModalidade", @class = "browser-default" })
                </div>
                
                <div class="form-group">
                    @Html.LabelFor(model => model.ano, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.CodigoAno, Model.ano, "--Selecione", new { @id = "CodigoAno", @name = "CodigoAno", @class = "browser-default" })
                    </div>

                    <div class="form-group">
                        @Html.LabelFor(model => model.CCurricular, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.DropDownListFor(model => model.CodigoCC, Model.CCurricular, "--Selecione", new { @id = "CodigoCC", @class = "browser-default" })

                        </div>
                    </div>

                    
                        <input name="esc" class="form-control" type="hidden" value="@ViewBag.escola.Codigo" />
                    
                        <input name="id" class="form-control" type="hidden" value="@ViewBag.admin.Codigo" />
                    
                        <input asp-for="CodigoAtribuicaoColaboradorEscola" type="hidden" class="form-control" />
                    
                    <p></p>
                    <div class="form-group">
                        <button class="btn waves-effect waves-light" type="submit" name="action">
                            Salvar
                            <i class="material-icons right">save</i>
                        </button>
                    </div>
                    <p>
                        <a href='@Url.Action("Index", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = ViewBag.escola.Codigo})' class="waves-effect waves-light btn">
                            <span class="material-icons">

                                view_list

                            </span>
                            Lista Atribuições
                        </a>
                    </p>
                </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>
<script src="~/lib/jquery/dist/jquery.js"></script>
<script src="~/Scripts/SelecionaComponente.js"></script>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
