@model IEnumerable<AcompanhamentoDocente.ViewModel.ColaboradorViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Professores da Unidade</h1>

<p>
    <a href='@Url.Action("GerenciarEscola", "Home", new { id = ViewBag.admin.Codigo, esc = ViewBag.escol.Codigo})' class="waves-effect waves-light btn">
        <i class="material-icons">
            arrow_back
        </i>
        Gerenciar Escola
    </a>
</p>

<table class="highlight">
    <thead>
        
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr class="linha_tabela">
                <td>
                    <p><label class="negrito">Nome: </label>@Html.DisplayFor(modelItem => item.Nome)</p>
                    <p><label class="negrito">E-mail: </label>@Html.DisplayFor(modelItem => item.Email)</p>
                </td>
                <td>
                    <p>
                        <a href='@Url.Action("Create", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = @ViewBag.escol.Codigo, col = item.Codigo  })' class="waves-effect waves-light btn" id="bteditar">
                            <span class="material-icons">
                                assignment
                            </span>
                        </a>
                    </p>
                    <p>
                        <a href='@Url.Action("ListaAtribuicaoProfessor", "AtribCColEscView", new { id = ViewBag.admin.Codigo, esc = @ViewBag.escol.Codigo, col = item.Codigo  })' class="waves-effect waves-light btn" id="btlistar">
                            <span class="material-icons">
                                view_list
                            </span>
                        </a>
                    </p>
                </td>
            </tr>
        }

        

    </tbody>
</table>
